* {
  margin: 0;
  padding: 0;
}

body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: gray;
}
.contaner{
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 50vh;
  height: 55vh;
}

form{
  margin: 2rem 0  1rem 0;
}
form select, button, 
input{
width: 100%;
border: none;
outline: none;
border-radius: 0.75rem;
}
form input{
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}
.dropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.select-contaner img{
max-width: 2rem;
}
.select-contaner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}
.dropdown i{
  margin-top: 1.5rem;
  font-size: 1.5rem;
}
.select-contaner select{
  font-size: 0.8rem;
  width: auto;
}
.msg{
  margin: 2rem 0 2rem 0;
}
form  button{
  height: 3rem;
  background-color: darkmagenta;
  color: ivory;
  font-size: 1.15rem;
  cursor: pointer;
}